.order-title {
	padding: 18px 20px 17px 20px;
	background: #f3f3f3;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.order-title-text {
	margin: 0;
	font-size: 25px;
	line-height: 30px;
	font-weight: 100;
	text-transform: uppercase;
}
.order-title-link {
	display: inline-block;
	color: #888;
	line-height: 17px;
}
.order-title-link:hover {
	color: #f00;
}
.order-basket-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.order-basket-table tr {
	border-bottom: 1px solid #efefef;
}
.order-basket-table td {
	padding: 15px 5px;
}
.order-basket-image {

}
.order-basket-name {

}
.order-basket-measure {
    color: #aaa;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.order-basket-quantity {
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
}
.order-basket-price {
    font-size: 12px;
    line-height: 14px;
    color: #aaa;
    text-align: center;
}
.order-basket-sum {
	text-align: right;
}
.order-form {
	padding: 20px;
}
.order-subtitle {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
}
.order-properties {
	margin-top: 20px !important;
}
.order-property {
	margin-bottom: 20px;
}
.order-property-name {
	color: #888;
	font-size: 12px;
	margin-bottom: 6px;
}
.order-property-field {

}
.order-property-input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 4px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 18px;
    border: 1px solid #cfcfcf;
    height: 50px;
}
.order-policy {
	color: #aaa;
}
.order-policy a {
	color: #aaa;
	text-decoration: underline;
}
.order-total {
	margin-top: 35px !important;
	border-top: 1px solid #efefef;
	padding-top: 20px;
}
.order-total-product-title {
	color: #888;
	font-size: 14px;
}
.order-total-product-sum {
	font-size: 14px;
}
.order-total-title {
	font-size: 14px;
}
.order-total-sum {
	font-size: 24px;
}
.order-total-button {
	background: #B39F5E;
	color: #fff;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px;
}